#Environement
.venv/
venv/
.evn/
evn/

#User Config
assets/user/
assets/resources/config
assets/resources/debug

# PyInstaller
*.manifest
*.spec

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

#Cache
__pycache__/
assets/**/__pycache__/
assets/**/*.pyc
*$py.class
*.py[cod]
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

dist/
build/
*.egg-info/

.vscode/
.idea/
Thumbs.db
Desktop.ini