#Environement
.venv/
venv/
.evn/
evn/

#User Config
assets/user/
assets/resources/config

#Cache
__pycache__/
assets/**/__pycache__/
assets/**/*.pyc
*.py[cod]
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

dist/
build/
*.egg-info/

.vscode/
.idea/
Thumbs.db
Desktop.ini